


/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(173, 133, 161);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(173, 133, 161);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #d811df;
    color: white;
  }







body {
    background-color: #F9629F;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


 


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: 5px solid #fd0707;
   
    text-size-adjust: "width:340px;px;height:250px;";
    text-decoration: none;
    color: rgb(3, 3, 3);
}



  h1 {
    color: white;
    text-align: center;
  }
  
  
  