










body {
    background-color: #F9629F;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


  


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: burlywood;
}



  h1 {
    color: white;
    text-align: center;
  }
  
  